@charset "UTF-8";

body {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

main {
    background: white;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.415);
}

main img {
    border-radius: 50%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}  